# Eagle
#
*_cad/*.s#?
*_cad/*.b#?
*_cad/*.l#?
*_cad/*.b$?
*_cad/*.s$?
*_cad/*.l$?
*_cad/*.s#*
*_cad/*.b#*
*_cad/*.lck
*_cad/eagle.epf



# spice
#
*_sim/*/*.net
*_sim/*/*.op
*_sim/*/*.raw
*_sim/*/*.lnk
*_sim/*/*.log


# MicroC Pro for PIC
# SRC: https://www.gitignore.io/api/mikroc
#
*_c/*.workspace
*_c/*.log
*_c/*.bmk
*_c/*.brk
*_c/*.dbg
*_c/*.dct
*_c/*.dlt
*_c/*.hex
*_c/*.lst
*_c/*.dic
*_c/*_callertable.txt
*_c/*.user.dic
*_c/*.asm
*_c/*.c.ini
*_c/*.h.ini
*_c/*.cp
*_c/*.mcl
